button {
  width: 100%;
  background-color: var(--color-aquamarine-light);
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 15px 92px;
  border-radius: 10px;
  border: none;
}

button image {
  width: 15px;
  height: 16px;
}

@media only screen and (min-width: 67.5rem) {
  button {
    margin-top: 30px;
    padding-inline: 62px;
    justify-content: space-evenly;
  }
}
