section p {
  color: var(--color-aurometal);
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
}

section h1 {
  color: var(--color-gunmetal);
}

@media only screen and (min-width: 67.5rem) {
  section p {
    margin-top: 24px;
  }
}
